<div ng-controller="MenuCtrl">
    <div class="menu-img">
        <img src="~/Content/man.jpg" alt="profile-img">
    </div>
    <p class="menu-username">{{ userName }}</p>
    <ul class="nav menu-element">
        <li ng-class="getClass('/')">
            <a href="#!/"><i class="fa fa-home"></i>@Resource.Site_Home</a>
        </li>
        <li ng-class="getClass('/users')">
            <a href="#!/users"><i class="fa fa-users"></i>@Resource.Site_Users</a>
        </li>
        <li ng-class="getClass('/rooms')">
            <a href="#!/rooms"><i class="fa fa-comments"></i>@Resource.Application_ChatRooms</a>
        </li>
        <li ng-class="getClass('/settings')">
            <a href="#!/settings"><i class="fa fa-cog"></i>@Resource.Site_Settings</a>
        </li>
        <li ng-class="getClass('/about')">
            <a href="#!/about"><i class="fa fa-info-circle"></i>@Resource.Site_About</a>
        </li>
    </ul>
</div>