<div id="menu">
    <div ng-controller="MenuCtrl">
        <div class="menu-img">
            <img src="~/Content/man.jpg" alt="profile-img">
        </div>
        <p class="menu-username">{{ userName }}</p>
        <ul class="nav menu-element">
            <li ng-class="{ active: isActive('/')}">
                <a href="#!/"><i class="fa fa-home"></i>@Resource.Common_Home</a>
            </li>
            <li ng-class="{ active: isActive('/users')}">
                <a href="#!/users"><i class="fa fa-users"></i>@Resource.Common_Users</a>
            </li>
            <li ng-class="{ active: isActive('/chatRooms')}">
                <a href="#!/chatRooms"><i class="fa fa-comments"></i>@Resource.Common_ChatRooms</a>
            </li>
            <li ng-class="{ active: isActive('/settings')}">
                <a href="#!/settings"><i class="fa fa-cog"></i>@Resource.Common_Settings</a>
            </li>
            <li ng-class="{ active: isActive('/about')}">
                <a href="#!/about"><i class="fa fa-info-circle"></i>@Resource.Common_About</a>
            </li>
        </ul>
    </div>
</div>