@model global::Service.ViewModels.Account.LoginViewModel

<div id="login">
    <h1 class="account-title">@Resource.Action_LoginNow</h1>
    <div class="account-content">
        @using (Html.BeginForm("ValidateLogin", "Account"))
        {
            @Html.ValidationSummary(false)
            @Html.TextBoxFor(model => model.UserName, new { placeholder = @Resource.Field_UserName, @class = "form-control" })
            @Html.PasswordFor(model => model.Password, new { placeholder = @Resource.Field_Password, @class = "form-control" })
            <button class="btn btn-block account-button" type="submit">
                <i class="fa fa-lock"></i>
                @Resource.Action_Login
            </button>
        }
    </div>
    <div class="account-footer">
        <p>@Resource.Content_NoAccountYet</p>
        @Html.ActionLink(Resource.Action_RegisterNow, "Registration", "Account")
    </div>
</div>