@model global::Controller.ViewModels.Account.RegistrationViewModel

<div id="connection">
    <h1 class="account-title">@Resource.Account_RegisterNow</h1>
    <div class="account-content">
        @using (Html.BeginForm("ValidateRegistration", "Account"))
        {
            @Html.ValidationSummary(false)
            @Html.TextBoxFor(model => model.Email, new { placeholder = @Resource.Account_Email, @class = "form-control" })
            @Html.TextBoxFor(model => model.Password, new { placeholder = @Resource.Account_Password, @class = "form-control" })
            @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder = @Resource.Account_ConfirmPassword, @class = "form-control" })
            <button class="btn btn-block account-button" type="submit">
                <i class="fa fa-lock"></i>
                @Resource.Account_Register
            </button>
        }
    </div>
</div>