<div id="registration">
    <h1 class="account-title">@Resource.RegisterNow</h1>
    <div class="account-content">
        <input type="text" class="form-control" placeholder="@Resource.Email">
        <br />
        <input type="text" class="form-control" placeholder="@Resource.Password">
        <br />
        <input type="text" class="form-control" placeholder="@Resource.ConfirmPassword">
        <button class="btn btn-block account-button" type="submit">
            <i class="fa fa-lock"></i>
            @Html.ActionLink(Resource.Register, "ValidateRegistration")
        </button>
    </div>
</div>