<div id="flags">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            @Resource.Common_Language<span class="flag flag-current flag-@CultureHelper.GetCurrentCulture()"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="@(CultureHelper.IsCurrentCulture("en") ? "current" : "")">
                <a href="@CultureHelper.GetCultureChangeHref("en")"><span class="flag flag-en"></span>English</a>
            </li>
            <li class="@(CultureHelper.IsCurrentCulture("fr") ? "current" : "")">
                <a href="@CultureHelper.GetCultureChangeHref("fr")"><span class="flag flag-fr"></span>Français</a>
            </li>
        </ul>
    </div>
</div>