@Html.Partial("Modals/_ContactModal")

<div id="aboutContent">
    <h1 class="page-title">@Resource.Common_About</h1>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label">@Resource.Common_Contact</label>
            <div class="col-sm-9 col-lg-10">
                <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">@Resource.Action_ContactMe</button>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label">@Resource.Common_Terms</label>
            <div class="col-sm-9 col-lg-10">
                <p>@Resource.Content_TermsBody</p>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label">@Resource.Common_Privacy</label>
            <div class="col-sm-9 col-lg-10">
                <p>@Resource.Content_PrivacyBody</p>
            </div>
        </div>
    </div>
</div>